<div class="jumbotron">
    <h1 class="text-center">Whoofer!</h1>
</div>

<div class="container">

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <br>
            <p class="cool-font">Whoof!</p>
            <textarea class="form-control" rows="3" id="whoof-box" placeholder="Enter Whoof Here!"></textarea>
            <button id="whoof-submit" class="btn btn-lg pull-right">whoof!</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2>Whoof!</h2>
            <hr>
            <div id="whoof-area"></div>
        </div>
    </div>

</div>

<script type="text/javascript" src="js/whoof.js"></script>