<div class="jumbotron">
  <h1 class="text-center">Whoofer!</h1>
</div>

<div class="container">

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <br>
      <p class="cool-font">Whoof!</p>
      <textarea class="whoofbody form-control" rows="3" id="whoof-box" placeholder="Enter Whoof Here!"></textarea>
      <button id="whoof-submit" class="btn btn-lg pull-right">whoof!</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Whoof!</h2>
      <hr>
      <div id="whoofbody whoof-area"></div>
    </div>
    <button id="whoof-update" class="btn btn-lg pull-right">Update</button>
    <button id="whoof-delete" class="btn btn-lg pull-right">Delete</button>
  </div>

</div>


<section class="copyrightSection">
  <section class="copyrightContainer level-item">

    <i class="copyrightIcon">©</i>
    <p>2020</p>
    <p>Taleh Aliyev</p>
    <p>Ashly Mayle</p>
    <p>Nigara Sawirdin </p>
    <p>Ashraf Takla </p>



  </section>
</section>

<script type="text/javascript" src="js/whoof.js"></script>