.whoof {
  padding: 10px;
  margin: 10px;
  background-color: lightgrey;
}

.welcomebgImg {
  background-image: url('https://pixy.org/src/22/thumbs350/229127.jpg'); 
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  }


.welcomebgImgWrap {
  background-color: rgba(255, 255, 255, 0.555);
  padding: 10rem 0rem 10rem 0rem;
}

.cool-font {
  font-family: Shrikhand, cursive;
  font-size: 24px;
  color: slateblue;
}

.jumbotron {
  font-family: Shrikhand, cursive;
  color: white;
  background-color: #596BE3;
}

.input,
.textarea {
  margin: 20px;
  background-color: lightgrey;
}


.btn {
  margin: 10px;
  /* font-family: Shrikhand, cursive; */
  color: white; 
  font-size: 12px;
  background-color:slateblue;
  border-color: lightgrey;
  border-style: solid;
  border-width: 2px;
}

.btn:hover {
  background-color:#5589D9;
  border-color: slateblue;
  
}

p {
  margin: 0;
  font-size: 16px;
}

.footer {
  height: 50px;
  background-color:lightgray;
  width: 100%;
  position: fixed;
  left: 0; bottom: 0;
  padding: 5px;
  text-align: center;
  border-top: 2px solid  slateblue; 
  color:  #601f9c;
}

.i2 { 
        color:  #596BE3;
   }

